<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <setting id="lg_enable_discovery" label="30013" type="bool" default="true" />
    <setting id="lg_force_discovery" label="30014" type="bool" default="false" enable="eq(-1,true)" />
    <setting type="sep" />
    <setting id="lg_scan_network" type="action" label="30012" option="close" action="RunScript(service.lgtv.autoswitch3d,scan)" default="" />
    <setting type="sep" />
    <setting id="lg_host" type="text" label="30010" default="" />
    <setting id="lg_pairing_key" type="text" label="30011" default="" />
</settings>
